<h1>New page</h1>
<%= form_for(@group) do |f| %>

<% if @group.errors.any? %>
<h4>ERROR</h4>
<% end %>

Title:<%= f.text_field :title %><br/>
Content:<%= f.text_field :content %><br/>
<%= f.submit '儲存' %>
<% end %>
